body {
  font-size: 16px;
  color: #fff;
  background-color: #B00;
  font-family: Helvetica, sans-serif;
}

#header-nav {
  background-color: #0B0;
  border-radius: 0;
  border: 0;
}

.navbar-brand {
  padding-top: 25px;
  height:60px;
}

.navbar-brand h1 { 
  color: #B00;
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .5;
}

#nav-list {
  margin-top:10px;
}
#nav-list a {
  color: #B00;
}
#nav-list a:hover {
  background:#900;
}

navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #61122f;
}

.navbar-header button.navbar-toggle{
  clear:both;
  margin-top: -45px;
}

h1.page-title{
  margin-bottom: 35px;
}

.section-tile{
  height:1000px;
  width:100%;
  margin-bottom: 15px;
  position: relative;
  overflow: hidden;
  background-color: #000;
}

.section-tile .section-title{
  text-align: center;
  font-size: 1.3em;
  margin-bottom: 15px;
}

@media (max-width: 767px)
{
  .section-tile{
    width:98%;
    margin: 0 1% 15px;
  }
}